<header>
    <nav class="navbar">
        <button type="button" class="btn-toggle"></button>
        <h1><a href="" title="" class="logo"><img src="./assets/img/logo.png" alt=""></a></h1>
        <div class="navbar-menu">
            <button type="button" class="btn-close"></button>
            <ul class="menu flex">
                <li><a href="" title="Home">Home</a></li>
                <li><a href="" title="Marketplace">Marketplace</a></li>
                <li><a href="" title="Dashboard">Dashboard</a></li>
                <li><a href="" title="Playnow">Playnow</a></li>
            </ul>
        </div>
        <div class="login">
            <div class="login__after">
                <div class="user flex-lc pr">
                    <div class="user__avt"><img src="./assets/img/avatar.png" alt=""></div>
                    <div class="user__name">0x702..........ba79</div>
                    <button type="button" class="btn-dr"></button>
                </div>
            </div>
        </div>
        <button type="button" class="btn-sidebar"></button>
    </nav>
    <div class="modal-mft"></div>
</header>
