<main class="flex">
    <div class="sidebar">
        <button type="button" class="btn-close"></button>
        <div class="logo"><img src="./assets/img/logo1.png" alt=""></div>
        <div class="box-btn flex">
            <a href="" title="Deposit">Deposit</a>
            <a href="" title="Withdraw">Withdraw</a>
            <a href="" title="Buy">Buy</a>
        </div>
        <a href="" title="My farm" class="btn-myfarm">My farm</a>
        <ul class="menu">
            <li>
                <a href="" title="" class="flex-lc">
                    <img src="./assets/img/icon-crown.svg" alt="">
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="" title="" class="flex-lc">
                    <img src="./assets/img/icon-market.svg" alt="">
                    <span>Marketplace</span>
                </a>
            </li>
            <li>
                <a href="" title="" class="flex-lc">
                    <img src="./assets/img/icon-nt.svg" alt="">
                    <span>Transactions</span>
                </a>
            </li>
            <li>
                <a href="" title="" class="flex-lc">
                    <img src="./assets/img/icon-coin.svg" alt="">
                    <span>MFT Staking</span>
                </a>
            </li>
            <li>
                <a href="" title="" class="flex-lc">
                    <img src="./assets/img/icon-lending.svg" alt="">
                    <span>MFT Lending</span>
                </a>
            </li>
            <li>
                <a href="" title="" class="flex-lc">
                    <img src="./assets/img/icon-coin.svg" alt="">
                    <span>Game oẳn tù tì</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="content">
        <div class="game pr">
            <div class="game__totalmft">
                <h5>TOTAL BET</h5>
                <span>45 MFT</span>
            </div>
            <div class="game__player game__player--1">
                <div class="avatar"><img src="./assets/img/avt.png" alt=""></div>
                <div class="name">0X8443...34DS</div>
            </div>
            <div class="game__player game__player--2">
                <div class="avatar"><img src="./assets/img/avt.png" alt=""></div>
                <div class="name">0X8443...34DS</div>
            </div>
            <div class="game__pk game__pk--1">
                <div class="as"><img src="./assets/img/no.png" alt=""></div>
            </div>
            <div class="game__pk game__pk--2">
                <div class="as"><img src="./assets/img/yes.png" alt=""></div>
            </div>
            <div class="game__playing pr">
                <div class="animated zoomIn rs rs1"><img src="./assets/img/rs1-keo.png" alt=""></div>
                <div class="animated zoomIn rs rs2"><img src="./assets/img/rs2-bao.png" alt=""></div>
                <div class="animated zoomIn rs rs3"><img src="./assets/img/rs3-bua.png" alt=""></div>
            </div>
            <div class="game__result hide">
                <div class="win animated zoomIn hide"><img src="./assets/img/thang.png" alt=""></div>
                <div class="draw animated zoomIn hide"><img src="./assets/img/hoa.png" alt=""></div>
                <div class="lose animated zoomIn hide"><img src="./assets/img/thua.png" alt=""></div>
            </div>
            <div class="game__select flex">
                <button type="button" class="btn-sl1">Kéo</button>
                <button type="button" class="btn-sl2">Bao</button>
                <button type="button" class="btn-sl3">Búa</button>
            </div>
            <div class="game__bt flex-lc pr">
                <div class="player">
                    <div class="avatar"><img src="./assets/img/avt.png" alt=""></div>
                    <div class="name">0X8443...34DS</div>
                </div>
                <div class="bet">
                    <div class="bet__control flex-lc">
                        <button type="button" class="btn-add">+</button>
                        <div class="number-mft">50 MFT</div>
                        <button type="button" class="btn-sub">-</button>
                    </div>
                    <button type="button" class="btn-bet btn-pr flex-center">BET 50 MFT</button>
                </div>
            </div>
        </div>
    </div>
</main>