<main class="flex">
    <div class="sidebar">
        <button type="button" class="btn-close"></button>
        <div class="logo"><img src="./assets/img/logo1.png" alt=""></div>
        <div class="box-btn flex">
            <a href="" title="Deposit">Deposit</a>
            <a href="" title="Withdraw">Withdraw</a>
            <a href="" title="Buy">Buy</a>
        </div>
        <a href="" title="My farm" class="btn-myfarm">My farm</a>
        <ul class="menu">
            <li>
                <a href="" title="" class="flex-lc">
                    <img src="./assets/img/icon-crown.svg" alt="">
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="" title="" class="flex-lc">
                    <img src="./assets/img/icon-market.svg" alt="">
                    <span>Marketplace</span>
                </a>
            </li>
            <li>
                <a href="" title="" class="flex-lc">
                    <img src="./assets/img/icon-nt.svg" alt="">
                    <span>Transactions</span>
                </a>
            </li>
            <li>
                <a href="" title="" class="flex-lc">
                    <img src="./assets/img/icon-coin.svg" alt="">
                    <span>MFT Staking</span>
                </a>
            </li>
            <li>
                <a href="" title="" class="flex-lc">
                    <img src="./assets/img/icon-lending.svg" alt="">
                    <span>MFT Lending</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="content">
        <div class="box-rec hide">
            <div class="flex-lc bg-w">
                <div class="user">
                    <div class="user__avt"><img src="./assets/img/avt.png" alt=""></div>
                    <div class="user__name">0X8443...34DS</div>
                </div>
                <button type="button" class="btn-usemft flex-center">USE 30 MFT</button>
            </div>
            <button type="button" class="btn-mftjoin">BUY MFT TO JOIN NOW</button>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu malesuada mi, cras elit, adipiscing scelerisque urna, nulla. Elit vitae, gravida et felis turpis nullam.
            </div>
        </div>
        <div class="box-rec">
            <div class="flex-lc bg-w">
                <div class="user">
                    <div class="user__avt"><img src="./assets/img/avt.png" alt=""></div>
                    <div class="user__name">0X8443...34DS</div>
                </div>
                <button type="button" class="btn-purchased flex-center">Purchased</button>
            </div>
            <button type="button" class="btn-clickjoin">Purchased</button>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu malesuada mi, cras elit, adipiscing scelerisque urna, nulla. Elit vitae, gravida et felis turpis nullam.
            </div>
        </div>
        <div class="box-rec box-rec--cs hide">
            <div class="box-time flex-center">
                <div class="down minutes flex">
                    <span class="time">00</span>
                    <span class="txt">:</span>
                </div>
                <div class="down seconds flex">
                    <span class="time">00</span>
                    <span class="txt">s</span>
                </div>
            </div>
            <button type="button" class="btn-cancel flex-center">CANCEL</button>
        </div>
    </div>
</main>