<main class="flex">
    <div class="sidebar">
        <button type="button" class="btn-close"></button>
        <div class="logo"><img src="./assets/img/logo1.png" alt=""></div>
        <div class="box-btn flex">
            <a href="" title="Deposit">Deposit</a>
            <a href="" title="Withdraw">Withdraw</a>
            <a href="" title="Buy">Buy</a>
        </div>
        <a href="" title="My farm" class="btn-myfarm">My farm</a>
        <ul class="menu">
            <li>
                <a href="" title="" class="flex-lc">
                    <img src="./assets/img/icon-crown.svg" alt="">
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="" title="" class="flex-lc">
                    <img src="./assets/img/icon-market.svg" alt="">
                    <span>Marketplace</span>
                </a>
            </li>
            <li>
                <a href="" title="" class="flex-lc">
                    <img src="./assets/img/icon-nt.svg" alt="">
                    <span>Transactions</span>
                </a>
            </li>
            <li>
                <a href="" title="" class="flex-lc">
                    <img src="./assets/img/icon-coin.svg" alt="">
                    <span>MFT Staking</span>
                </a>
            </li>
            <li>
                <a href="" title="" class="flex-lc">
                    <img src="./assets/img/icon-lending.svg" alt="">
                    <span>MFT Lending</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="content">
        <div class="room">
            <div class="room__nav flex-lc">
                <div class="box-left">
                    <button type="button">NEW ROOM</button>
                    <button type="button">JOIN NOW</button>
                </div>
                <div class="box-right">
                    <button type="button">ALL ROOM</button>
                    <button type="button">CAN JOIN</button>
                </div>
            </div>
            <div class="room__list flex">
                <div class="item flex-lc">
                    <div class="player">
                        <div class="avatar"><img src="./assets/img/avt.png" alt=""></div>
                        <div class="name">0X8443...34DS</div>
                    </div>
                    <div class="player">
                        <div class="avatar"><img src="./assets/img/avt.png" alt=""></div>
                        <div class="name">0X8443...34DS</div>
                    </div>
                    <div class="wait">
                        <div class="avatar"><img src="./assets/img/wait.png" alt=""></div>
                    </div>
                    <div class="info pr">
                        <div class="flex-lc">
                            <div class="id">ID: 67545</div>
                            <div class="numberofplayer">2/3</div>
                        </div>
                        <button type="button" class="btn-join btn-pr flex-center">JOIN ROOM</button>
                    </div>
                </div>
                <div class="item flex-lc">
                    <div class="player">
                        <div class="avatar"><img src="./assets/img/avt.png" alt=""></div>
                        <div class="name">0X8443...34DS</div>
                    </div>
                    <div class="wait">
                        <div class="avatar"><img src="./assets/img/wait.png" alt=""></div>
                    </div>
                    <div class="wait">
                        <div class="avatar"><img src="./assets/img/wait.png" alt=""></div>
                    </div>
                    <div class="info pr">
                        <div class="flex-lc">
                            <div class="id">ID: 67545</div>
                            <div class="numberofplayer">1/3</div>
                        </div>
                        <button type="button" class="btn-join btn-pr flex-center">JOIN ROOM</button>
                    </div>
                </div>
                <div class="item flex-lc">
                    <div class="player">
                        <div class="avatar"><img src="./assets/img/avt.png" alt=""></div>
                        <div class="name">0X8443...34DS</div>
                    </div>
                    <div class="player">
                        <div class="avatar"><img src="./assets/img/avt.png" alt=""></div>
                        <div class="name">0X8443...34DS</div>
                    </div>
                    <div class="wait">
                        <div class="avatar"><img src="./assets/img/wait.png" alt=""></div>
                    </div>
                    <div class="info pr">
                        <div class="flex-lc">
                            <div class="id">ID: 67545</div>
                            <div class="numberofplayer">2/3</div>
                        </div>
                        <button type="button" class="btn-join btn-pr flex-center">JOIN ROOM</button>
                    </div>
                </div>
                <div class="item flex-lc">
                    <div class="player">
                        <div class="avatar"><img src="./assets/img/avt.png" alt=""></div>
                        <div class="name">0X8443...34DS</div>
                    </div>
                    <div class="wait">
                        <div class="avatar"><img src="./assets/img/wait.png" alt=""></div>
                    </div>
                    <div class="wait">
                        <div class="avatar"><img src="./assets/img/wait.png" alt=""></div>
                    </div>
                    <div class="info pr">
                        <div class="flex-lc">
                            <div class="id">ID: 67545</div>
                            <div class="numberofplayer">1/3</div>
                        </div>
                        <button type="button" class="btn-join btn-pr flex-center">JOIN ROOM</button>
                    </div>
                </div>
                <div class="item flex-lc">
                    <div class="player">
                        <div class="avatar"><img src="./assets/img/avt.png" alt=""></div>
                        <div class="name">0X8443...34DS</div>
                    </div>
                    <div class="player">
                        <div class="avatar"><img src="./assets/img/avt.png" alt=""></div>
                        <div class="name">0X8443...34DS</div>
                    </div>
                    <div class="wait">
                        <div class="avatar"><img src="./assets/img/wait.png" alt=""></div>
                    </div>
                    <div class="info pr">
                        <div class="flex-lc">
                            <div class="id">ID: 67545</div>
                            <div class="numberofplayer">2/3</div>
                        </div>
                        <button type="button" class="btn-join btn-pr flex-center">JOIN ROOM</button>
                    </div>
                </div>
                <div class="item flex-lc">
                    <div class="player">
                        <div class="avatar"><img src="./assets/img/avt.png" alt=""></div>
                        <div class="name">0X8443...34DS</div>
                    </div>
                    <div class="wait">
                        <div class="avatar"><img src="./assets/img/wait.png" alt=""></div>
                    </div>
                    <div class="wait">
                        <div class="avatar"><img src="./assets/img/wait.png" alt=""></div>
                    </div>
                    <div class="info pr">
                        <div class="flex-lc">
                            <div class="id">ID: 67545</div>
                            <div class="numberofplayer">1/3</div>
                        </div>
                        <button type="button" class="btn-join btn-pr flex-center">JOIN ROOM</button>
                    </div>
                </div>
                <div class="item playing flex-lc">
                    <div class="player">
                        <div class="avatar"><img src="./assets/img/avt.png" alt=""></div>
                        <div class="name">0X8443...34DS</div>
                    </div>
                    <div class="player">
                        <div class="avatar"><img src="./assets/img/avt.png" alt=""></div>
                        <div class="name">0X8443...34DS</div>
                    </div>
                    <div class="player">
                        <div class="avatar"><img src="./assets/img/avt.png" alt=""></div>
                        <div class="name">0X8443...34DS</div>
                    </div>
                    <div class="info pr">
                        <div class="flex-lc">
                            <div class="id">ID: 67545</div>
                        </div>
                        <div class="status">Playing</div>
                    </div>
                </div>
                <div class="item playing flex-lc">
                    <div class="player">
                        <div class="avatar"><img src="./assets/img/avt.png" alt=""></div>
                        <div class="name">0X8443...34DS</div>
                    </div>
                    <div class="player">
                        <div class="avatar"><img src="./assets/img/avt.png" alt=""></div>
                        <div class="name">0X8443...34DS</div>
                    </div>
                    <div class="player">
                        <div class="avatar"><img src="./assets/img/avt.png" alt=""></div>
                        <div class="name">0X8443...34DS</div>
                    </div>
                    <div class="info pr">
                        <div class="flex-lc">
                            <div class="id">ID: 67545</div>
                        </div>
                        <div class="status">Playing</div>
                    </div>
                </div>
            </div>
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <i class="icon icon-prev"></i>
                    </a>
                </li>
                <li class="page-item"><a class="page-link active" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">...</a></li>
                <li class="page-item"><a class="page-link" href="#">10</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <i class="icon icon-next"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</main>