<main class="flex">
    <div class="sidebar">
        <button type="button" class="btn-close"></button>
        <div class="logo"><img src="./assets/img/logo1.png" alt=""></div>
        <div class="box-btn flex">
            <a href="" title="Deposit">Deposit</a>
            <a href="" title="Withdraw">Withdraw</a>
            <a href="" title="Buy">Buy</a>
        </div>
        <a href="" title="My farm" class="btn-myfarm">My farm</a>
        <ul class="menu">
            <li>
                <a href="" title="" class="flex-lc">
                    <img src="./assets/img/icon-crown.svg" alt="">
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="" title="" class="flex-lc">
                    <img src="./assets/img/icon-market.svg" alt="">
                    <span>Marketplace</span>
                </a>
            </li>
            <li>
                <a href="" title="" class="flex-lc">
                    <img src="./assets/img/icon-nt.svg" alt="">
                    <span>Transactions</span>
                </a>
            </li>
            <li>
                <a href="" title="" class="flex-lc">
                    <img src="./assets/img/icon-coin.svg" alt="">
                    <span>MFT Staking</span>
                </a>
            </li>
            <li>
                <a href="" title="" class="flex-lc">
                    <img src="./assets/img/icon-lending.svg" alt="">
                    <span>MFT Lending</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="content">
        <div class="game pr">
            <div class="game__wait flex-center">
                <h5>Time</h5>
                <span>5S</span>
            </div>
        </div>
    </div>
</main>