:root{
  --AmaranthBold: AmaranthBold, sans-serif;
  --Amaranth-Regular: Amaranth-Regular, sans-serif;
  --red: #820000;
  --yellow: #F9A400;
}

@font-face {
  font-family: AmaranthBold;
  src: url("#{$font-path}/AmaranthBold.ttf");
}

@font-face {
  font-family: Amaranth-Regular;
  src: url("#{$font-path}/Amaranth-Regular.otf");
}

body{
  min-height: 100vh;
  background: url("#{$img-path}/bg-home.jpg") no-repeat center center/cover;
  font-family: 'Mitr', sans-serif;
  font-size: 14px;
  line-height: 1.4;
  overflow-x: hidden;
  &::-webkit-scrollbar{width: 8px;}
  &::-webkit-scrollbar-thumb{background: #888;}
  &::-webkit-scrollbar-track{background: #ccc;}
}
a{transition: .25s;}
a:hover{text-decoration: none;}
img{max-width: 100%;}
.pr{position: relative;}
.hide{display: none;}
button{
  border: none; background: none; cursor: pointer;
  &:hover,&:focus{outline: none;}
}
@mixin hover{filter: saturate(1.4); -webkit-filter: saturate(1.4);}

//header
header{padding-top: 29px;}
.navbar{
  width: 1184px; height: 102px;
  padding: 0 0 0 59px;
  background: url("#{$img-path}/bg-nav.png") no-repeat 0 0/contain;
  margin: 0 auto;
  justify-content: flex-start;
  .logo{display: block;}
  h1{margin-top: -17px;}
  .menu{
    margin: -14px 0 0 43px;
    >*+*{margin-left: 43px;}
    a{
      font-weight: 500;
      font-size: 24px;
      line-height: 38px;
      color: #fff;
      text-shadow: 2px 0 #741E00, -2px 0 #741E00, 0 2px #741E00, 0 -2px #741E00,
      1px 1px #741E00, -1px -1px #741E00, 1px -1px #741E00, -1px 1px #741E00;
    }
  }
  .login{
    margin: -14px 0 0 43px;
    .user{
      &__avt{
        margin-right: 8px;
        img{width: 40px; border-radius: 50%;}
      }
      &__name{
        font-weight: 500;
        font-size: 12px;
        line-height: 19px;
        color: #fff;
      }
      .btn-dr{
        width: 24px; height: 24px;
        background: url("#{$img-path}/arrdown.svg") no-repeat 0 0/contain;
        position: absolute; right: 0; top: 50%; transform: translateY(-50%);
      }
    }
    &__after{
      width: 234px; height: 81px;
      padding: 17px 26px;
      background: url("#{$img-path}/bg-user.png") no-repeat 0 0/contain;
    }
  }
  .btn-toggle,.btn-sidebar,.btn-close{display: none;}
}

//main
main{
  width: 1272px; height: 825px;
  margin: 40px auto 28px;
  background: url("#{$img-path}/bg-main.png") no-repeat 0 0/contain;
  .content{
    width: 934px; padding: 67px 0 0 0;
  }
}
.sidebar{
  width: 326px;
  padding: 150px 0 0 46px;
  .logo{margin: 0 0 15px 154px;}
  .box-btn{
    margin-bottom: 40px;
    >*+*{margin-left: 8px;}
    a,button{
      width: 84px; height: 35px;
      display: block;
      background: url("#{$img-path}/btn.png") no-repeat 0 0/contain;
      font-weight: 500;
      color: #882900;
      text-align: center;
      line-height: 35px;
      &:hover{color: #fff;}
    }
  }
  .btn-myfarm{
    width: 267px; height: 65px; display: block;
    margin-bottom: 48px;
    background: url("#{$img-path}/btn-myfarm.png") no-repeat 0 0/contain;
    font-size: 0;
    &:hover{@include hover;}
  }
  .menu{
    padding-left: 17px;
    li{margin-bottom: 21px;}
    li:nth-child(2){margin-bottom: 90px;}
    span{display: block; margin-left: 8px;}
    a{
      font-weight: 500;
      font-size: 20px;
      line-height: 31px;
      color: #882900;
    }
  }
  .btn-close{display: none;}
}
.box-rec{
  width: 509px; height: 607px;
  padding: 38px 24px;
  background: url("#{$img-path}/bg-rec.png") no-repeat 0 0/contain;
  margin: 93px auto 0;
  &--cs{
    width: 509px;
    height: 485px;
    padding: 56px 0 40px;
    border: 2px solid #FFB800;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #A7783C 0%, rgba(186, 123, 41, 0.928333) 44.79%, rgba(160, 98, 17, 0.84) 100%);
    border-radius: 81px;
  }
  .box-time{
    width: 304px; height: 304px;
    margin: 0 auto 30px;
    background: url("#{$img-path}/cr3.png") no-repeat 0 0/contain;
  }
  .bg-w{
    width: 338px; height: 104px;
    margin: 0 auto 35px;
    padding: 15px 28px 25px;
    background: url("#{$img-path}/bg-mft.png") no-repeat 0 0/contain;
    button{
      width: 139px; height: 35px;
      padding-bottom: 2px;
      background: url("#{$img-path}/btn4.png") no-repeat 0 0/100% 100%;
      font: 18.2258px var(--AmaranthBold);
      line-height: 22px;
      text-transform: uppercase;
      cursor: url("#{$img-path}/cursor.png"), auto;
      &.btn-usemft{color: var(--red);}
      &.btn-purchased{color: #226A00;}
    }
  }
  .user{
    margin-right: 22px;
    &__avt{
      width: 55px; margin: 0 auto;
      border: 5px solid #89291D; border-radius: 50%; overflow: hidden;
    }
    &__name{
      margin-top: -5px;
      padding: 2px 6px;
      background: #89291D;
      font-size: 9.00398px;
      line-height: 11px;
      color: #fff;
      border-radius: 9999px;
      position: relative;
    }
  }
  .btn-mftjoin,.btn-clickjoin{
    width: 304px; height: 304px; display: block;
    padding: 0;
    margin: 0 auto 20px;
    font-size: 0;
    cursor: url("#{$img-path}/cursor.png"), auto;
  }
  .btn-mftjoin{background: url("#{$img-path}/cr1.png") no-repeat 0 0/contain;}
  .btn-clickjoin{background: url("#{$img-path}/cr2.png") no-repeat 0 0/contain;}
  .text{color: #633A06; text-align: center; font-size: 16px;}
  .down,.txt{
    font: 59px var(--Amaranth-Regular);
    color: #fbfbfb;
    text-shadow: 2px 0 #741E00, -2px 0 #741E00, 0 2px #741E00, 0 -2px #741E00,
    1px 1px #741E00, -1px -1px #741E00, 1px -1px #741E00, -1px 1px #741E00;
    .time{width: 70px; text-align: center;}
  }
  .btn-cancel{
    width: 189px; height: 58px;
    background: url("#{$img-path}/btn-cancel.png") no-repeat 0 0/contain;
    margin: 0 auto;
    font-size: 0;
    &:hover{@include hover;}
  }
}
.room{
  width: 826px;
  margin: 75px auto 0;
  padding: 40px 20px 10px;
  background: #9C7D54;
  border-radius: 32px;
  &__nav{
    height: 53px;
    padding: 0 17px;
    margin-bottom: 33px;
    background: #81561F;
    border-radius: 14px;
    .box-left button{background: url("#{$img-path}/btn2.png") no-repeat 0 0/contain; color: #820000;}
    .box-right{
      margin-left: auto;
      button{background: url("#{$img-path}/btn3.png") no-repeat 0 0/contain; color: #2F2F2F;}
    }
    button{
      width: 113px; height: 35px; padding: 0 0 3px;
      font: 18px var(--AmaranthBold);
      &:hover{@include hover;}
    }
  }
  &__list{justify-content: space-between;}
  .item{
    min-width: 388px;
    padding: 7px 11px;
    margin-bottom: 10px;
    background: linear-gradient(91.31deg, #F5BE79 8.63%, #EDB46F 28.55%, #FEDAAB 51.12%);
    border: 1px solid #A05F0B;
    box-shadow: inset 1.70732px -1.13821px 1.70732px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    &.playing{
      background: linear-gradient(91.31deg, #C4C4C4 8.63%, #DCDCDC 51.12%);
      border: 1px solid #ADADAD;
      box-shadow: inset 1.70732px -1.13821px 1.70732px rgba(0, 0, 0, 0.25);
      .player{background: rgba(77, 77, 77, 0.5); border: 0.9px solid rgba(126, 90, 20, 0.33);}
    }
  }
  .player,.wait{
    width: 76px; height: 72px;
    padding: 8px;
    margin-right: 6px;
    border-radius: 5px;
  }
  .player{
    background: rgba(115, 1, 0, 0.5); border: 0.9px solid rgba(126, 90, 20, 0.33);
    .avatar{width: 45px; margin: 0 auto; border-radius: 50%; overflow: hidden;}
    .name{margin-top: 2px; font-size: 9.00398px; line-height: 11px; color: #fff; text-align: center; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
  }
  .wait{background: rgba(66, 61, 61, 0.5); border: 0.9px solid rgba(126, 90, 20, 0.33);}
  .info{
    margin-left: 5px;
    .id{
      margin-right: 8px;
      padding: 3px 5px;
      background: #D9AC71;
      border: 1px solid #765A37;
      border-radius: 5px;
      font: 600 11px Roboto, san-serif;
      line-height: 14px;
      color: #4E4E4E;
    }
    .numberofplayer{color: #87530F; font: 600 28px Roboto, san-serif; line-height: 34px;}
    .btn-join{width: 113px; height: 35px;}
  }
  .status{
    margin-top: 7px;
    font: 600 21px/25px Roboto, sans-serif;
    color: #87530F;
  }
}
.game{
  width: 672px; height: 621px;
  background: url("#{$img-path}/game.png") no-repeat 0 0/contain;
  margin: 68px auto 0;
  .avatar{width: 55px; margin: 0 auto -7px; border: 5px solid #89291D; border-radius: 50%; overflow: hidden;}
  .name{display: inline-block; background: #89291D; border-radius: 9999px; padding: 2px 6px; font: 9px/11px Roboto, sans-serif; color: #fff; text-align: center;}
  &__totalmft{
    width: 220px; height: 68px;
    margin: 0 auto;
    padding: 8px 0;
    text-align: center;
    h5{margin-bottom: 0; color: var(--yellow); font: 18px/22px var(--AmaranthBold);}
    span{font: 23px/24px var(--AmaranthBold); color: #fff;}
  }
  &__player{
    position: absolute; top: 192px;
    &--1{
      left: 36px;
      .name{transform: translate(-26px, -54px) rotate(-60deg);}
      .avatar{margin: 12px 0 0 15px;}
    }
    &--2{
      right: 36px;
      .name{transform: translate(24px, -47px) rotate(60deg);}
      .avatar{margin: 12px 0 -7px;}
    }
  }
  &__playing{
    width: 300px; height: 300px;
    margin: 65px auto 0;
    .rs{
      width: 161px; position: absolute;
      &.rs1{top: 31px; left: 5px;}
      &.rs2{top: 31px; right: 5px;}
      &.rs3{bottom: -5px; left: 0; right: 0; margin: 0 auto;}
    }
    img{display: block; margin: 0 auto;}
  }
  &__result{
    width: 300px; height: 300px;
    margin: 65px auto 0;
  }
  &__select{
    width: 277px; height: 107px;
    background: url("#{$img-path}/bg-ct1.svg") no-repeat 0 0/contain;
    margin: 10px auto 0;
    padding-top: 10px;
    button{font-size: 0;}
    button:hover{@include hover;}
    .btn-sl1{width: 94px; height: 96px; background: url("#{$img-path}/btn-keo.png") no-repeat 0 0/contain;}
    .btn-sl2{width: 94px; height: 99px; margin: -5px -6px 0 -2px; background: url("#{$img-path}/btn-bao.png") no-repeat 0 0/contain;}
    .btn-sl3{width: 95px; height: 99px; margin: -9px 0 0; background: url("#{$img-path}/btn-bua.png") no-repeat 0 0/contain;}
  }
  &__bt{
    width: 258px; height: 96px;
    padding: 16px 29px;
    background: url("#{$img-path}/bg-bet.png") no-repeat 0 0/100% 100%;
    position: absolute; bottom: 0; left: 205px;
  }
  &__bet{
    width: 300px; height: 300px;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
    &--default{margin-top: 65px; padding-top: 32px; background: url("#{$img-path}/bg-cr.png") no-repeat 0 0/contain;}
    &--offer{background: url("#{$img-path}/bg-cr3.png") no-repeat 0 0/contain;}
    h5{margin-bottom: 0; color: #333333; font: 33px/41px var(--AmaranthBold); text-transform: uppercase;}
    span{
      display: block;
      margin: -5px 0 3px;
      font: 91px/1 var(--AmaranthBold);
      color: #FFB800;
      text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000,
      1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
    }
    img{display: block; margin: 0 auto;}
  }
  &__time{
    width: 170px; height: 55px;
    padding-bottom: 2px;
    background: url("#{$img-path}/bg-time.png") no-repeat 0 0/contain;
    margin: 6px auto 0;
    font: 21px/27px var(--AmaranthBold);
    color: #fff;
    span{margin-left: 4px; font-size: 39px; color: #FFD600;}
  }
  &__wait{
    width: 300px; height: 300px;
    flex-direction: column;
    position: absolute; left: 50%; transform: translateX(-50%); top: 133px;
    background: url("#{$img-path}/bg-cr2.png") no-repeat 0 0/contain;
    h5{margin-bottom: 0; font: 48px var(--AmaranthBold); color: #3F2E2E;}
    span{display: block; margin-top: -18px; color: #5F0000; font: 86px/1 var(--AmaranthBold);}
  }
  &__pk{
    position: absolute;
    &--1{top: 15px; left: 68px;}
    &--2{top: 27px; right: 68px;}
    > div{width: 148px;}
  }
  .bet{
    justify-content: center;
    margin-left: 13px;
    &__control{
      margin-bottom: 5px;
      justify-content: space-between;
      background: #89291D;
      box-shadow: inset 1.70732px -1.13821px 1.70732px rgba(0, 0, 0, 0.25);
      border-radius: 2.27642px;
      padding: 3px 4px;
    }
    .btn-add,.btn-sub{
      width: 20px; height: 14px; font-size: 0;
      &:hover{@include hover;}
    }
    .btn-add{background: url("#{$img-path}/btn-add.svg") no-repeat 0 0/contain;}
    .btn-sub{background: url("#{$img-path}/btn-sub.svg") no-repeat 0 0/contain;}
    .number-mft{color: #FFC700; font: 11px/14px var(--AmaranthBold);}
  }
  .select{
    margin-top: -20px;
    align-items: flex-start;
    justify-content: center;
    > div{margin: 0 5px;}
    &__1{width: 110px;}
    &__2{
      width: 113px;
      img{margin-top: 10px;}
    }
  }
}
.pagination{
  margin-top: 5px;
  justify-content: center;
  li{margin: 0 1.5px;}
  .page-link{
    width: 36px;
    height: 29px;
    display: flex; align-items: center; justify-content: center;
    padding: 0;
    background: #600913;
    border: 0.284553px solid #491200;
    border-radius: 2px;
    text-align: center;
    font: 18px/1.2 var(--AmaranthBold);
    color: #fff;
    &.active{color: #FF9900;}
  }
  .icon{
    width: 11px; height: 13px; display: block;
    background: url("#{$img-path}/next.svg") no-repeat center center;
  }
  .icon-prev{transform: rotate(180deg);}
}

.btn-pr{
  background: url("#{$img-path}/btn2.png") no-repeat 0 0/100% 100%;
  color: #820000;
  font: 18px var(--AmaranthBold);
  padding-bottom: 3px;
  &:hover{@include hover;}
}
.modal-mft{
  width: 100%; height: 100%; display: none;
  background: rgba(#000,.5);
  position: fixed; top: 0; left: 0; z-index: 90;
  &.show{display: block;}
}
//animated
.animated {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}
.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

@media (max-width: 1200px) {
  header{padding-top: vw1(29px);}
  .navbar{
    width: vw1(1184px); height: vw1(102px);
    padding: 0 0 0 vw1(59px);
    h1{margin-top: vw1(-17px);}
    .logo{width: vw1(159px);}
    .menu{
      margin: vw1(-10px) 0 0 vw1(43px);
      >*+*{margin-left: vw1(43px);}
      a{font-size: vw1(24px); line-height: vw1(38px);}
    }
    .login{
      margin: vw1(-14px) 0 0 vw1(43px);
      .user{
        &__avt{
          margin-right: vw1(8px);
          img{width: vw1(40px);}
        }
        &__name{font-size: vw1(12px); line-height: vw1(19px);}
        .btn-dr{width: vw1(24px); height: vw1(24px);}
      }
      &__after{
        width: vw1(234px); height: vw1(81px);
        padding: vw1(17px) vw1(26px);
      }
    }
  }
  main{
    width: vw1(1200px); height: vw1(825px);
    margin: vw1(40px) auto vw1(28px);
    .content{width: vw1(880px); padding: vw1(57px) 0 0 0;}
  }
  .sidebar{
    width: vw1(310px);
    padding: vw1(120px) 0 0 vw1(40px);
    .logo{margin: 0 0 vw1(15px) vw1(154px);}
    .box-btn{
      margin-bottom: vw1(40px);
      >*+*{margin-left: vw1(8px);}
      a,button{width: vw1(84px); height: vw1(35px); line-height: vw1(35px); font-size: 12px;}
    }
    .btn-myfarm{width: vw1(267px); height: vw1(65px);margin-bottom: vw1(48px);}
    .menu{
      padding-left: vw1(17px);
      li{margin-bottom: vw1(21px);}
      li:nth-child(2){margin-bottom: vw1(40px);}
      span{display: block; margin-left: vw1(8px);}
      a{font-size: vw1(20px); line-height: vw1(31px);}
    }
  }
  .box-rec{
    width: vw1(509px); height: vw1(607px);
    padding: vw1(38px) vw1(24px);
    margin: vw1(53px) auto 0;
    &--cs{
      width: vw1(509px);
      height: vw1(485px);
      padding: vw1(56px) 0 vw1(40px);
      border: vw1(2px) solid #FFB800;
      border-radius: vw1(81px);
    }
    .box-time{width: vw1(304px); height: vw1(304px); margin: 0 auto vw1(30px);}
    .bg-w{
      width: vw1(338px); height: vw1(104px);
      margin: 0 auto vw1(35px);
      padding: vw1(15px) vw1(28px) vw1(25px);
      button{
        width: vw1(139px); height: vw1(35px);
        font: vw1(18.2258px) var(--AmaranthBold);
        line-height: vw1(22px);
      }
    }
    .user{
      margin-right: vw1(22px);
      &__avt{width: vw1(55px); border: vw1(5px) solid #89291D;}
      &__name{
        margin-top: vw1(-5px);
        padding: vw1(2px) vw1(6px);
        font-size: vw1(9.00398px);
      }
    }
    .btn-mftjoin,.btn-clickjoin{
      width: vw1(304px); height: vw1(304px);
      margin: 0 auto vw1(20px);
    }
    .text{font-size: vw1(16px);}
    .down,.txt{
      font: vw1(59px) var(--Amaranth-Regular);
      .time{width: vw1(70px);}
    }
    .btn-cancel{width: vw1(189px); height: vw1(58px);}
  }
  .room{
    width: vw1(826px);
    margin: vw1(75px) auto 0;
    padding: vw1(40px) vw1(20px) vw1(10px);
    background: #9C7D54;
    border-radius: vw1(32px);
    &__nav{
      height: vw1(53px);
      padding: 0 vw1(17px);
      margin-bottom: vw1(33px);
      border-radius: vw1(14px);
      button{
        width: vw1(113px); height: vw1(35px); padding: 0 0 vw1(3px);
        font: vw1(18px) var(--AmaranthBold);
      }
    }
    &__list{height: vw1(390px); overflow: auto;}
    .item{
      min-width: 100%;
      padding: vw1(7px) vw1(11px);
      margin-bottom: vw1(10px);
      border-radius: vw1(5px);
    }
    .player,.wait{
      width: 70px; height: 60px;
      padding: vw1(8px);
      margin-right: vw1(6px);
      border-radius: vw1(5px);
    }
    .wait img{max-width: 70%; margin: 0 auto;}
    .player{
      .avatar{width: 35px;}
      .name{margin-top: vw1(2px); font-size: 10px; line-height: 1;}
    }
    .info{
      display: flex;
      margin-left: vw1(5px);
      .id{
        margin-right: vw1(8px);
        padding: vw1(3px) vw1(5px);
        border-radius: vw1(5px);
        font: 600 9px Roboto, san-serif;
        line-height: 12px;
      }
      .numberofplayer{font: 600 vw1(28px) Roboto, san-serif; line-height: vw1(34px);}
      .btn-join{width: vw1(113px); height: vw1(35px);}
    }
    .status{
      margin-top: vw1(7px);
      font: 600 vw1(21px) Roboto, sans-serif;
      line-height: vw1(25px);
    }
  }
  .game{
    width: vw1(672px); height: vw1(621px);
    margin: vw1(68px) auto 0;
    .avatar{width: vw1(55px); margin: 0 auto vw1(-7px); border: vw1(5px) solid #89291D;}
    .name{padding: vw1(2px) vw1(4px); font: 9px Roboto, sans-serif; line-height: 1;}
    &__totalmft{
      width: vw1(220px); height: vw1(68px);
      padding: vw1(8px) 0;
      h5{font: 12px var(--AmaranthBold); line-height: vw1(20px)}
      span{font: 12px var(--AmaranthBold); line-height: vw1(22px)}
    }
    &__player{
      top: vw1(200px);
      &--1{
        left: vw1(36px);
        .avatar{margin-bottom: 0;}
        .name{transform: translate(-22px, -42px) rotate(-60deg);}
      }
      &--2{
        right: vw1(36px);
        .name{transform: translate(23px, -37px) rotate(60deg);}
      }
    }
    &__playing{
      width: vw1(300px); height: vw1(300px);
      margin: vw1(65px) auto 0;
      .rs{
        width: vw1(161px);
        &.rs1{top: vw1(31px); left: vw1(5px);}
        &.rs2{top: vw1(31px); right: vw1(5px);}
        &.rs3{bottom: vw1(-5px);}
      }
    }
    &__result{
      width: vw1(300px); height: vw1(300px);
      margin: vw1(65px) auto 0;
    }
    &__select{
      width: vw1(277px); height: vw1(107px);
      margin: vw1(10px) auto 0;
      padding-top: vw1(10px);
      .btn-sl1{width: vw1(94px); height: vw1(96px);}
      .btn-sl2{width: vw1(94px); height: vw1(99px); margin: vw1(-5px) vw1(-6px) 0 vw1(-2px);}
      .btn-sl3{width: vw1(95px); height: vw1(99px); margin: vw1(-9px) 0 0;}
    }
    &__bt{
      width: vw1(290px); height: vw1(96px);
      padding: vw1(16px) vw1(20px);
      left: vw1(188px);
    }
    &__bet{
      width: vw1(300px); height: vw1(300px);
      &--default{margin-top: vw1(65px); padding-top: vw1(32px);}
      h5{font: vw1(33px) var(--AmaranthBold); line-height: inherit;}
      span{
        margin: vw1(-5px) 0 vw1(3px);
        font: vw1(91px) var(--AmaranthBold);
        line-height: 1;
      }
    }
    &__time{
      width: vw1(170px); height: vw1(55px);
      padding-bottom: vw1(2px);
      margin: vw1(6px) auto 0;
      font: vw1(21px) var(--AmaranthBold);
      line-height: 1;
      span{margin-left: vw1(4px); font-size: vw1(39px);}
    }
    &__wait{
      width: vw1(300px); height: vw1(300px);
       top: vw1(133px);
      h5{font: vw1(48px) var(--AmaranthBold);}
      span{margin-top: vw1(-18px); font: vw1(86px) var(--AmaranthBold); line-height: 1}
    }
    &__pk{
      &--1{top: vw1(18px); left: vw1(68px);}
      &--2{top: vw1(22px); right: vw1(68px);}
      > div{width: vw1(148px);}
    }
    .bet{
      margin-left: vw1(13px);
      &__control{
        margin-bottom: vw1(5px);
        padding: vw1(3px) vw1(4px);
      }
      .btn-add,.btn-sub{
        width: 15px; height: 10px;
      }
      .number-mft{font: 9px var(--AmaranthBold); line-height: 1;}
    }
    .select{
      &__1{width: vw1(110px);}
      &__2{width: vw1(113px);}
    }
  }
  .pagination{
    margin-top: vw1(5px);
    .page-link{
      width: vw1(36px);
      height: vw1(29px);
      font: 12px/1 var(--AmaranthBold);
    }
    .icon{width: 11px; height: 13px;}
  }

  .btn-pr{
    font: vw1(14px) var(--AmaranthBold);
    padding-bottom: 3px;
  }
}

@media (max-width: 640px) {
  body{background: url("#{$img-path}/bg-m.jpg") no-repeat top center; background-size: cover;}
  header{padding-top: vwm(23px);}
  .navbar .navbar-menu,.sidebar{
    width: 100%; height: 100%; padding: vwm(30px) 0 0; left: -100%;
    position: fixed; top: 0; z-index: 99;
    overflow: auto;
    transition: .3s;
    &.show{left: 0;}
    .btn-close{
      display: block; width: 48px; height: 43px;
      background: url("#{$img-path}/menu-close.svg") no-repeat 0 0/contain;
      margin: 0 auto 15px;
    }
  }
  .navbar{
    width: vwm(400px); height: auto; padding: 0; background: none;
    .menu{
      display: block;
      a{
        width: 308px; height: 70px; display: flex;
        align-items: center; justify-content: center;
        padding-top: 5px;
        margin: 0 auto 15px;
        background: url("#{$img-path}/frame.svg") no-repeat 0 0/contain;
        font-size: 18px;
      }
    }
    .btn-toggle{
      display: block; width: vwm(52px); height: vwm(46px);
      margin-top: 0;
      background: url("#{$img-path}/btn-menu.png") no-repeat 0 0/contain;
    }
    .logo{display: none;}
    .btn-sidebar{
      width: vwm(52px); height: vwm(44px); display: block;
      background: url("#{$img-path}/logo.png") no-repeat 0 0/contain;
    }
    .login{
      margin: 0 auto;
      &__after{width: vwm(200px); height: vwm(69px); padding: vwm(16px) vwm(25px);}
      .user{
        &__avt img{width: vwm(30px);}
        &__name{margin-left: vwm(5px); font-size: vwm(14px); width: 52%; line-height: 1; overflow: hidden; text-overflow: ellipsis;}
        .btn-dr{width: vwm(14px); height: vwm(14px);}
      }
    }
    .btn-close{display: block;}
  }
  main{
    margin: 0 auto;
    height: auto;
    padding-top: 0;
    background: none;
    .content{width: 100%;}
  }
  .sidebar{
    .menu{
      display: flex;
      flex-direction: column;
      align-items: center;
      >*+*{margin: vwm(14px) 0 0;}
      li,li:nth-child(2){margin-bottom: 0;}
      a{
        width: 200px; height: 56px;
        display: flex; justify-content: center; align-items: center;
        background: url("#{$img-path}/sm-wood-stack.png") no-repeat 0 0/ 100% 100%;
        font-size: 18px;
      }
      span{margin-left: 5px;}
    }
    .logo{display: none;}
    .box-btn{
      display: none;
      margin-bottom: vwm(40px);
      justify-content: center;
      a{width: vwm(84px); height: vwm(35px); margin: 0 vwm(3.5px); font-size: vwm(14px); line-height: vwm(35px);}
    }
    .btn-myfarm{width: vwm(267px); height: vwm(64px); display: none; margin: 0 auto vwm(45px);}
  }
  .box-rec{
    background: none; width: auto; height: auto;
    &--cs{
      border: none;
    }
    .bg-w{
      width: vwm(330px); height: vwm(96px); padding: vwm(11px) vwm(28px) vwm(20px); margin-bottom: vwm(44px); background-size: 100% 100%;
      button{width: vwm(139px); height: vwm(35px); font-size: vwm(18px);}
    }
    .user{
      margin-right: vwm(28px);
      &__avt{width: vwm(54px); border-width: vwm(4px);}
      &__name{margin-top: vwm(-5px); font-size: vwm(9px); padding: vwm(1px) vwm(5px);}
    }
    .btn-mftjoin,.btn-clickjoin{
      width: vwm(300px); height: vwm(300px); margin-bottom: vwm(20px);
    }
    .box-time{width: vwm(300px); height: vwm(300px); margin-bottom: vwm(32px);}
    .text{font-size: vwm(18px);}
    .down,.txt{
      font-size: vwm(59px);
      .time{width: vwm(75px);}
    }
    .btn-cancel{width: 189px; height: 57px;}
  }
  .game{
    width: vwm(413px); height: vwm(349px);
    padding-top: vwm(70px);
    background: url("#{$img-path}/game-m.png") no-repeat 0 0/contain;
    margin-top: vwm(100px);
    .avatar{
      width: vwm(38px); border-width: vwm(3px); margin-bottom: vwm(-8px);
    }
    .name{padding: vwm(1px) vwm(4px); font-size: vwm(8px);}
    .btn-bet{width: vwm(145px); height: vwm(44px); font-size: vwm(20px); white-space: nowrap;}
    &__totalmft{
      width: vwm(205px); height: vwm(64px);
      padding: vwm(8px);
      background: url("#{$img-path}/bg-tt.png") no-repeat 0 0/contain;
      position: absolute; top: vwm(-85px); left: 50%; transform: translateX(-50%);
      h5{font-size: vwm(17px); line-height: inherit;}
      span{font-size: vwm(22px); line-height: 1;}
    }
    &__player{
      &--1{
        left: vwm(25px); top: vwm(100px);
        .avatar{margin-bottom: vwm(-3px);}
        .name{transform: translate(-18px, -37px) rotate(-60deg);}
      }
      &--2{
        right: vwm(25px); top: vwm(100px);
        .name{transform: translate(18px, -32px) rotate(60deg);}
      }
    }
    &__playing{
      width: vwm(184px); height: vwm(184px); margin: 0 auto;
      .rs{
        width: vwm(96px);
        &.rs1{top: vwm(15px); left: vwm(6px);}
        &.rs2{top: vwm(15px); right: vwm(6px);}
      }
    }
    &__bt{
      width: vwm(332px); height: vwm(124px);
      padding: vwm(21px) vwm(35px);
      position: relative; left: inherit;
      margin: vwm(-30px) auto 0;
      .avatar{width: vwm(55px); border-width: vwm(4px);}
      .name{font-size: vwm(11px); padding: 1px 5px;}
    }
    &__select{
      width: vwm(360px); height: vwm(134px); margin: vwm(15px) 0 0 vwm(32px);
      .btn-sl1{width: vwm(121px); height: vwm(123px); margin-top: vwm(9px);}
      .btn-sl2{width: vwm(120px); height: vwm(126px); margin: vwm(3px) 0 0 vwm(-3px);}
      .btn-sl3{width: vwm(121px); height: vwm(127px); margin: vwm(-3px) 0 0 vwm(-10px)}
    }
    &__bet{
      width: vwm(185px); height: vwm(185px);
      &--default{width: vwm(185px); height: vwm(185px); padding-top: vwm(20px); margin-top: 0;}
      h5{font-size: vwm(20px);}
      span{font-size: vwm(56px);}
      img{max-width: vwm(87px);}
    }
    &__time{
      width: vwm(170px); height: vwm(55px); font-size: vwm(22px);
      margin: 0;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: vwm(-20px);
      span{margin-left: vwm(4px); font-size: vwm(39px);}
    }
    &__pk{
      > div{width: vwm(80px);}
      &--1{top: 0; left: vwm(56px);}
      &--2{top: 0; right: vwm(56px);}
    }
    &__result{width: vwm(184px); height: vwm(184px); margin-top: 0;}
    &__wait{
      width: vwm(183px); height: vwm(183px); top: 0; position: relative;
      h5{font-size: vwm(30px);}
      span{font-size: vwm(52px);}
    }
    .bet{
      margin-left: vwm(17px);
      &__control{padding: 3px 5px; margin-bottom: vwm(5px);}
      .btn-add,.btn-sub{width: vwm(25px); height: vwm(18px);}
      .number-mft{font-size: vwm(14px);}
    }
    .select{
      &__1{width: vwm(110px);}
      &__2{width: vwm(113px);}
    }
  }
  .room{
    width: 90%; margin-bottom: 20px;
    &__nav{
      height: auto; padding: vwm(5px);
      button{width: vwm(70px); height: vwm(22px); font-size: vwm(10px);}
    }
    &__list{height: auto;}
    .info{
      display: block; margin-left: vwm(5px);
      .btn-join{width: vwm(70px); height: vwm(22px); margin-top: vwm(5px); font-size: vwm(10px);}
    }
    .status{font-size: vwm(14px); line-height: 1;}
  }
  .pagination{
    margin: vwm(10px) 0;
    .page-link{width: vwm(30px); height: vwm(30px); font-size: vwm(16px);}
  }
}